/* #import{
  width: 100px;
  height: 20px;
  border: solid 1px black;
  padding: 5px;
  background-color: white;
}

#import:hover{
  cursor:pointer;
  background-color: white;
  color: black;
  transition: 0.4s;
} */


#performanceDisplay{

  height:200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#performanceTop{
  display: flex;
  justify-content: center;
}